@use "sass:map";
@use "../common/_breakpoint" as *;
@use "../common/_functions" as *;
@use "../setting" as *;



$basis-values: (
  "auto": auto,
  "0": 0
) !default;


@include generate-utility-css("basis", $basis-values, null, $basis-important) using ($value, $important_value) {
  flex-basis: $value #{$important_value};
}

@include generate-utility-css("basis", $basis-px, "px", $basis-important) using ($value, $important_value) {
  flex-basis: $value + px #{$important_value};
}

@include generate-utility-css("basis", $basis-percent, "%", $basis-important) using ($value, $important_value) {
  flex-basis: $value * 1% #{$important_value};
}

@include generate-utility-css("basis", $basis-em, "em", $basis-important) using ($value, $important_value) {
  flex-basis: $value + em #{$important_value};
}
