@use "sass:map";
@use "../common/_breakpoint" as *;
@use "../common/_functions" as *;
@use "../setting" as *;


$align-items-values: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch
) !default;

$align-self-values: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch,
  "auto": auto
) !default;

@include generate-utility-classes("ai", $align-items-values) using ($value) {
  align-items: $value;
}

@include generate-utility-classes("as", $align-self-values) using ($value) {
  align-self: $value;
}



$flex-wrap-values: (
  "nowrap": nowrap,
  "wrap": wrap,
  "wrap-reverse": wrap-reverse
) !default;

$flex-shrink-values: (
  "0": 0,
  "1": 1
) !default;

$flex-grow-values: (
  "0": 0,
  "1": 1
) !default;

$flex-basis-values: (
  "auto": auto,
  "0": 0
) !default;

@include generate-utility-classes("fw", $flex-wrap-values) using ($value) {
  flex-wrap: $value;
}

@include generate-utility-classes("fshrink", $flex-shrink-values) using ($value) {
  flex-shrink: $value;
}

@include generate-utility-classes("fgrow", $flex-grow-values) using ($value) {
  flex-grow: $value;
}

@include generate-utility-classes("fbasis", $flex-basis-values) using ($value) {
  flex-basis: $value;
}
