@use "sass:map";
@use "../common/breakpoint" as *;
@use "../common/functions" as *;
@use "../setting" as *;

@if $min-width-generate {
  // 0の場合の処理（単位なし）
  @if map.has-key($min-width-px, "0") or map.has-key($min-width-percent, "0") {
    @include generate-utility-css("min-w", (0), "", $min-width-important) using ($value, $important-value) {
      min-width: 0 #{$important-value};
    }
  }

  // px単位（0以外）
  @include generate-utility-css("min-w", $min-width-px, "px", $min-width-important) using ($value, $important-value) {
    @if $value != 0 {
      min-width: $value + px #{$important-value};
    }
  }

  // %単位（0以外）
  @include generate-utility-css("min-w", $min-width-percent, "%", $min-width-important) using ($value, $important-value) {
    @if $value != 0 {
      min-width: $value * 1% #{$important-value};
    }
  }
}
