@use "sass:map";
@use "../common/_breakpoint" as *;
@use "../common/_functions" as *;
@use "../setting" as *;

@include generate-utility-classes("w", $width-px, "px") using ($value) {
  width: $value + px;
}

@include generate-utility-classes("w", $width-percent, "%") using ($value) {
  width: $value * 1%;
}

@include generate-utility-classes("w", $width-em, "em") using ($value) {
  width: $value + em;
}
