@use "./common/_functions" as *;

// --------------------------------------
// @see src/utilites/_font-size.scss
// --------------------------------------
// px単位
$font-sizes-px: generate-range(1, 100);
// em単位
$font-sizes-em: generate-range(1, 100);


// --------------------------------------
// @see src/utilites/_height.scss
// --------------------------------------
// px単位
$height-px: generate-range(1, 500);

// --------------------------------------
// @see src/utilites/_width.scss
// --------------------------------------
// px単位
$width-px: generate-range(1, 500);

// %単位
$width-percent: generate-range(1, 100);


// --------------------------------------
// @see src/utilites/_margin.scss
// --------------------------------------
// px単位
$margin-px: generate-range(-100, 100, true);

// %単位
$margin-percent: generate-range(-100, 100, true);


// --------------------------------------
// @see src/utilites/_padding.scss
// --------------------------------------
// px単位
$padding-px: generate-range(-100, 100, false);

// %単位
$padding-percent: generate-range(-100, 100, false);



// --------------------------------------
// @see src/utilites/_gap.scss
// --------------------------------------
$gap-px: generate-range(1, 100);
$gap-percent: generate-range(0, 100);
