@use "./common/functions" as *;

// ----------------------------------------------------------------------------
// # 設定上の注意
// -----------------------------------------------------------------------------
// ## 適正なサイズの目安
// 一般的に100KB未満が理想的とされています。
// - 大規模ウェブサイト : 500KB以下
// - 中規模ウェブサイト : 100KB-200KB以下
// - 小規模ウェブサイト : 50KB以下
// ----------------------------------------------------------------------------
// 圧縮技術: gzip圧縮を使用すると、元のファイルサイズを大幅に削減できます。
// ----------------------------------------------------------------------------


// ----------------------------------------------------------------------------
// ブレイクポイント設定
// ----------------------------------------------------------------------------
// --------------------------------------
// @see src/common/_breakpoint.scss
// --------------------------------------
$breakpoints: (
  "pc": "print, screen and (width >= 768px)",
  "sp": "screen and (width <= 767px)",
) !default;


// ----------------------------------------------------------------------------
// 各プロパティ設定
// ----------------------------------------------------------------------------
// --------------------------------------
// @see src/utilites/_display.scss
// --------------------------------------
$display-generate: true;  // クラスを生成するかどうか
$display-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_fs.scss
// --------------------------------------
$font-size-generate: true;  // クラスを生成するかどうか
$font-size-important: false; // !importantをつけるかどうか

$font-sizes-px: generate-range(10, 30); // px単位
$font-sizes-em: generate-range(1,  10); // em単位


// --------------------------------------
// @see src/utilites/_fs.scss
// --------------------------------------
$font-generate: true;  // クラスを生成するかどうか
$font-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_text-align.scss
// --------------------------------------
$text-align-generate: true; // クラスを生成するかどうか
$text-align-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_w.scss
// --------------------------------------
$width-generate: true;   // クラスを生成するかどうか
$width-important: false; // !importantをつけるかどうか

$width-px: generate-range(0, 200);      // px単位
$width-percent: generate-range(1, 100); // %単位
$width-em: generate-range(1, 20);       // em単位


// --------------------------------------
// @see src/utilites/_max-w.scss
// --------------------------------------
$max-width-generate: false;   // クラスを生成するかどうか
$max-width-important: false; // !importantをつけるかどうか

$max-width-px: generate-range(1, 200);      // px単位
$max-width-percent: generate-range(1, 100); // %単位


// --------------------------------------
// @see src/utilites/_min-w.scss
// --------------------------------------
$min-width-generate: false; // クラスを生成するかどうか
$min-width-important: false; // !importantをつけるかどうか

$min-width-px: generate-range(1, 200);      // px単位
$min-width-percent: generate-range(1, 100); // %単位


// --------------------------------------
// @see src/utilites/_m.scss
// --------------------------------------
$margin-generate: true;   // クラスを生成するかどうか
$margin-important: false; // !importantをつけるかどうか

$margin-px: generate-range(-100, 100, false);   // px単位
$margin-percent: generate-range(1, 1, false); // %単位


// --------------------------------------
// @see src/utilites/_p.scss
// --------------------------------------
$padding-generate: true;   // クラスを生成するかどうか
$padding-important: false; // !importantをつけるかどうか

$padding-px: generate-range(0, 100, false);      // px単位
$padding-percent: generate-range(1, 100, false); // %単位


// --------------------------------------
// @see src/utilites/_gap.scss
// --------------------------------------
$gap-generate: true;   // クラスを生成するかどうか
$gap-important: false; // !importantをつけるかどうか

$gap-px: generate-range(0, 30);      // px単位
$gap-percent: generate-range(1, 20); // %単位


// --------------------------------------
// @see src/utilites/_basis.scss
// --------------------------------------
$basis-generate: true; // クラスを生成するかどうか
$basis-important: false; // !importantをつけるかどうか

$basis-px: generate-range(1, 200);      // px単位
$basis-percent: generate-range(1, 100); // %単位
$basis-em: generate-range(1, 10);       // em単位


// --------------------------------------
// @see src/utilites/_grow.scss
// --------------------------------------
$flex-grow-generate: true;   // クラスを生成するかどうか
$flex-grow-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_shrink.scss
// --------------------------------------
$flex-shrink-generate: true;   // クラスを生成するかどうか
$flex-shrink-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_flex-wrap.scss
// --------------------------------------
$flex-wrap-generate: true;   // クラスを生成するかどうか
$flex-wrap-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_items.scss
// --------------------------------------
$align-items-generate: true;   // クラスを生成するかどうか
$align-items-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_self.scss
// --------------------------------------
$align-self-generate: true;   // クラスを生成するかどうか
$align-self-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_order.scss
// --------------------------------------
$order-generate: true;   // クラスを生成するかどうか
$order-important: false; // !importantをつけるかどうか

$order-number: generate-range(0, 10); // 数値


// --------------------------------------
// @see src/utilites/_justify-content.scss
// --------------------------------------
$justify-content-generate: true;   // クラスを生成するかどうか
$justify-content-important: false; // !importantをつけるかどうか


// --------------------------------------
// @see src/utilites/_justify-self.scss
// --------------------------------------
$justify-self-generate: true;   // クラスを生成するかどうか
$justify-self-important: false; // !importantをつけるかどうか
