@use "../setting" as *;


// ブレイクポイント用のmixin
@mixin generate-utility-classes($class-prefix, $values, $unit_suffix: null) {
  // ブレイクポイントなしのベースクラス
  @each $name, $value in $values {
    $suffix: if($value == "auto", "", $unit_suffix);
    // クラス名に単位を付ける（%の場合はpctに変換）
    $class_suffix: if($suffix == "%", "pct", $suffix);
    $sep: if($class-prefix == "", "", "-");

    .#{$class-prefix}#{$sep}#{$name}#{$class_suffix} {
      @content($value);
    }
  }

  // ブレイクポイントごとのクラス
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media #{$breakpoint-value} {
      @each $name, $value in $values {
        $suffix: if($value == "auto", "", $unit_suffix);
        // クラス名に単位を付ける（%の場合はpctに変換）
        $class_suffix: if($suffix == "%", "pct", $suffix);
        $sep: if($class-prefix == "", "", "-");

        .#{$breakpoint-name}-#{$class-prefix}#{$sep}#{$name}#{$class_suffix} {
          @content($value);
        }
      }
    }
  }
}
