@use "../setting" as *;


@mixin generate-utility-css(
  $class-prefix,
  $values,
  $unit_suffix: null,
  $enable_important: false
) {
  // --------------------------------------
  // !importantなし
  // --------------------------------------
  @include generate-utility-css-value($class-prefix, $values, $unit_suffix, false) using ($value, $important_value) {
    @content($value, $important_value);
  }

  // --------------------------------------
  // !importantあり
  // --------------------------------------
  @if $enable_important {
    @include generate-utility-css-value($class-prefix, $values, $unit_suffix, true) using ($value, $important_value) {
      @content($value, $important_value);
    }
  }

}



@mixin generate-utility-css-value(
  $class-prefix,
  $values,
  $unit_suffix: null,
  $enable_important: false
){
  $important_suffix: if($enable_important, "-imp", "");
  $important_value: if($enable_important, "!important", "");

  // ブレイクポイントなしのベースクラス
  @each $name, $value in $values {
    $suffix: if($value == "auto", "", $unit_suffix);

    // クラス名に単位を付ける（%の場合はpctに変換）
    $class_suffix: if($suffix == "%", "pct", $suffix);
    $sep: if($class-prefix == "", "", "-");

    .#{$class-prefix}#{$sep}#{$name}#{$class_suffix}#{$important_suffix} {
      @content($value, $important_value);
    }
  }

  // ブレイクポイントごとのクラス
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media #{$breakpoint-value} {
      @each $name, $value in $values {
        $suffix: if($value == "auto", "", $unit_suffix);

        // クラス名に単位を付ける（%の場合はpctに変換）
        $class_suffix: if($suffix == "%", "pct", $suffix);
        $sep: if($class-prefix == "", "", "-");

        .#{$breakpoint-name}-#{$class-prefix}#{$sep}#{$name}#{$class_suffix}#{$important_suffix} {
          @content($value, $important_value);
        }
      }
    }
  }
}
